/* 
Certe colours, check with certestyle::colourpicker("certe", 3)
#49647D - certeblauw
#93984C - certegroen
#B4527F - certeroze
*/

/* import fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Source Sans 3', sans-serif !important;
}
pre code {
  font-family: 'Fira Code', monospace !important;
  font-feature-settings: "ss02", "ss06";
  /* don't wrap syntax on small devices: */
  word-wrap: normal !important;
  white-space: pre !important;
}

.r-msg, .r-msg span {
  color: #AAAAAA !important;
  font-style: italic;
}
th {
  text-align: inherit;
}
h1, h1 code,
h2, h2 code,
h3, h3 code,
a, a code {
  color: #49647D !important;
}
.navbar-default {
  background-color: white;
  border-color: #49647D;
}
.navbar-brand .navbar-link {
  background-image: url("/certeplot2/logo.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 44px;
}
.label-default {
  background-color: #49647D !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #F0F8FB !important;
}
.navbar-default .navbar-nav>li:hover {
  background: #EEEEEE !important;
}
.btn-primary {
  background-color: #B4527F !important;
  border-color: #B4527F !important;
}

/* syntax colours: */

.fu {
  /* function names */
  font-weight: bold;
}
.cn {
  /* values such as TRUE and NULL */
  color: #B4527F;
  font-style: italic;
}
.fl {
  /* numbers */
  color: #B4527F;
}
.sc {
  /* $ operator */
  color: #B4527F;
}
.st {
  /* text strings */
  color: #93984C;
}
